<div class="timer">
    <form class="form-inline">
        <div class="form-group description">
            <input class="form-control" type="text" placeholder="Description" ng-model="description">
        </div>
        <div class="form-group time">
            <input class="form-control" id="time-input" type="text" ng-disabled="isRunning">
        </div>
        <div class="form-group btn">
            <button class="btn btn-default" ng-if="isRunning" ng-click="stop()">Stop</button>
            <button class="btn btn-default" ng-if="!isRunning" ng-click="start()">Start</button>
        </div>
    </form>
</div>
