body {
    background-color: #E4E2E2;
}

.main-title {
    margin-bottom: 30px;
}

.main-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 800px;
}

.add-timer-btn {
    border-radius: 43px;
    font-size: 28px;
    vertical-align: middle;
    padding-bottom: 9px;
    padding-right: 13px;
}

.add-timer-btn:focus {
    outline:0;
}

.add-timer-btn:active {
    outline:0 !important;
}

.timer-row {
    padding-left: 130px;
}

@media only screen and (max-width: 700px) {
    h1 {
        font-size: 24px;
    }

    .main-container {
        max-width: 100%;
    }
}